<!doctype html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='home.css') }}">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128594681-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-128594681-1');
</script>
<div class="topnav">
	<div class="title">Dyno Unique</div>
    {% for item in nav.top %}
   	<a class="{{ 'active' if item.is_active else '' }}" href="{{ item.url }}">{{ item.label }}</a>
    {% endfor %}
</div>

{% block body %}{% endblock %}

<div class="footer">

</div>